.11_89 {
    overflow: hidden;
}

.e11_89 {
    background-color: rgba(18.06249987334013, 17.08411507308483, 17.634458541870117, 1);
    width: 390px;
    height: 844px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    position: [=];
}

.e11_90 {
    background-color: rgba(59.50000025331974, 31.33490838110447, 1.2494945526123047, 1);
    width: 353px;
    height: 808px;
    position: absolute;
    left: 18px;
    top: 18px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.e23_115 {
    width: 319px;
    height: 294px;
    position: absolute;
    left: 35px;
    top: 224px;
    background-image: url(images/image_4.png);
    background-repeat: no-repeat;
    background-size: cover;
}


/*  */

.1_122 {
    overflow: hidden;
}

.e1_122 {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 0, 1);
    width: 390px;
    height: 844px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    position: relative;
}

.e1_891 {
    width: 353px;
    height: 808px;
    position: absolute;
    left: 19px;
    top: 18px;
}

.e1_123 {
    background-color: rgba(107.31249645352364, 63.37009638547897, 16.56188629567623, 1);
    width: 353px;
    height: 808px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 50px;
}

.e1_890 {
    width: 242px;
    height: 303px;
    position: absolute;
    left: 55px;
    top: 232px;
}

.e1_124 {
    background-color: rgba(196.5624949336052, 142.50781148672104, 142.50781148672104, 1);
    width: 242px;
    height: 58px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.e1_125 {
    background-color: rgba(196.5624949336052, 142.50781148672104, 142.50781148672104, 1);
    width: 242px;
    height: 58px;
    position: absolute;
    left: 0px;
    top: 129px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.e1_126 {
    background-color: rgba(196.5624949336052, 142.50781148672104, 142.50781148672104, 1);
    width: 242px;
    height: 58px;
    position: absolute;
    left: 0px;
    top: 245px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.e1_127 {
    color: rgba(255, 255, 255, 1);
    width: 164px;
    height: 17px;
    position: absolute;
    left: 39px;
    top: 266px;
    font-family: Inter;
    text-align: center;
    font-size: 14px;
    letter-spacing: 0;
}

.e1_128 {
    color: rgba(255, 255, 255, 1);
    width: 140px;
    height: 17px;
    position: absolute;
    left: 51px;
    top: 150px;
    font-family: Inter;
    text-align: center;
    font-size: 14px;
    letter-spacing: 0;
}

.e1_129 {
    color: rgba(255, 255, 255, 1);
    width: 194px;
    height: 17px;
    position: absolute;
    left: 18px;
    top: 21px;
    font-family: Inter;
    text-align: center;
    font-size: 14px;
    letter-spacing: 0;
}


/*  */